*{
  font-family:'droid serif', serif;
}
body{
  background:url("images/bg.jpg");
  background-size:cover;
}
#heading{
  text-shadow:1px 1px gray;
}
#title{
  margin-top:3%;
}
#quotebox{
  font-family:cantarell, serif;
  font-size:20px;
  border-radius:10px;
  box-shadow:5px 5px 10px black;
  margin: 3% 0;
  padding:30px;
}
#generate{
  padding:15px;
  font-size:17px;
}
#author{
  .quotebox;
  font-style:italic;
}
#tweetbtn{
  margin-top:10px;
  padding:5px 10px 5px 10px;
}