* {
  font-family: orbitron;
}

a {
  text-decoration: none !important;
}
.navbar-header{
  margin-left:8%;
}
.navbar-collapse{
  margin-right:8%;
  margin-left:8%;
}
.page {
  background-size: cover;
  color: black;
  padding: 15% 5% 15% 5%;
}

#home {
  background: url("http://s21.postimg.org/k7fy9a3bb/At_the_Office_Mac_Apple_Wallpapers_Creative_Plan.jpg") no-repeat;
  background-attachment: fixed;
}

#about {
  background: url("http://s21.postimg.org/fy669ztqf/the_empire_state_building_HD.jpg") no-repeat;
  background-attachment: fixed;
}

#portfolio {
  background: url("http://s17.postimg.org/ye59a0jzj/points_cubes_background_light_91691_1920x1080.jpg") no-repeat;
  background-attachment: fixed;
}

#contact {
  background: url("http://s17.postimg.org/ouvkgjwhb/JICXS.jpg") no-repeat;
  background-attachment: fixed;
  color:white;
}

#title {
  font-size: 60px;
  text-shadow: 1px 1px gray;
}

#header {
  font-size: 30px;
  text-shadow: 1px 1px gray;
}

.linkbtn {
  font-size: 20px;
  padding: 15px 30px 15px 30px;
  border: 2px solid black;
}

.linkbtn:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1, 1.1);
  background-color: black;
  color: white;
  border-color: black;
}

#about #content {
  width: 50%;
  font-size: 20px;
}

#avatar {
  width: 40%;
  border-radius: 50%
}
.project{
  position:relative;
}
.project:hover{
  transform:scale(1.1,1.1);
  transition:0.3s ease-in-out;
}
.textonimg{
  font-size:10px;
  position:absolute;
  bottom:0px;
}
.email{
  font-size:30px;
  padding:0 0 70px;
}
