body{
  font-family:orbitron;
  text-shadow: 1px 1px black;
  background-size: cover;
}
#title{
  font-size:50px;
}
#locinput{
  margin-top:3%;
  width:15%;
  padding:5px;
}
#temp{
  font-size:25px;
  font-weight:900;
  
}
.data, .data1{
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
}

.data{
  margin-top:5%;
}
.data1{
  margin-top:40px;
  font-size:20px;
}
.d1{
  padding:0px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
}